main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

    .imagenContacto{
        width: 100%;
        height: 100%;
    }
}
.formulario {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 100%;
}

.form-label{
    color: white;
}